<% div_for post do %>
  <h1> <%= link_to_unless_current h(post.title), :action => "show", :id => post %></h1>
  <p> <span class="createdTime"> Posted:
      <%= time_to_human(post.created_at) %> ago
      (<%= post.created_at %> </span>)
    <% if post.created_at != post.updated_at %>
    / <span class="updatedTime"> Updated:
      <%= time_to_human(post.updated_at) %> ago
      (<%= post.updated_at %> </span>) </p>
    <% end %>

  <%= simple_format post.body %>

  <div class="post_footer">
  <%= @commentlink ? link_to("View Comments", :action => "show",
                                               :id => post,
                                        :anchor => "disqus_thread") : "" %>
  <%= html_for_tag_div(post) %>
  </div>

<% end %>
